In [50]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## Vamos a importar los datasets y darles una variable

In [5]:
df1 = pd.read_csv(r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\Datasets relevamiento precios\precios_semana_20200413')

In [6]:
df2 = pd.read_json(r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\Datasets relevamiento precios\precios_semana_20200503.json')

In [7]:
df3 = pd.read_csv(r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\Datasets relevamiento precios\precios_semana_20200518.txt', encoding = 'utf-8', sep = '|' )

In [8]:
df4 = pd.read_excel(r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx')

## Empezamos con la normalización y limpieza

In [10]:
# Empezamos a llenar los valores faltantes 
df1['precio'].fillna(0, inplace = True)
df1['producto_id'].fillna('SIN DATOS', inplace = True)
df1['sucursal_id'].fillna('SIN DATOS', inplace = True)

In [11]:
df1.head(18107)

       precio         producto_id sucursal_id
0       29.90       0000000001663     2-1-014
1       29.90       0000000002288     2-1-032
2       39.90       0000000002288     2-1-096
3      499.99       0000000205870     9-1-686
4      519.99       0000000205870     9-2-248
...       ...                 ...         ...
18102  190.00  16-1-0000000271442   16-1-1102
18103   99.00  16-1-0000000271442   16-1-1302
18104  109.00  16-1-0000000271442    16-1-702
18105  199.00  16-1-0000000271448   16-1-1302
18106  117.00  16-1-0000000271448    16-1-702

[18107 rows x 3 columns]

In [12]:
#Cambiamos algunos valores para la normalización 
df2['precio'].replace('', 0 , inplace = True)
df2['precio'].astype(float)
df2['precio'].dtype

dtype('float64')

In [13]:
df2.head()

   precio    producto_id sucursal_id
0   29.90  0000000002288     2-1-187
1   39.90  0000000002288     2-3-247
2  499.99  0000000205870     9-1-685
3  539.99  0000000205870      9-2-22
4  519.99  0000000205870      9-2-59

In [14]:
df2.isna().sum() # No tenemos datos faltantes

precio         0
producto_id    0
sucursal_id    0
dtype: int64

In [17]:
df3.isna().sum()

precio         0
producto_id    6
sucursal_id    6
dtype: int64

In [16]:
# Valores faltantes
df3['precio'].fillna(0, inplace = True)

In [18]:
df4.isna().sum()

precio          1736
sucursal_id        0
producto_id    13519
dtype: int64

In [19]:
df4['precio'].fillna(0, inplace = True)
df4['producto_id'].fillna('0', inplace = True)

## *Ahora vamos a crear una variable donde este la carpeta donde se guarden los csv*

Para luego importarlas a la base de datos

In [23]:
carga1 = r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\CSV\precios_semana_20200413.csv'
df1.to_csv(carga1, index = False, encoding = 'latin1')

In [24]:
carga2 = r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\CSV\precios_semana_20200503.csv'
df2.to_csv(carga2, index = False,encoding = 'latin1')

In [25]:
carga3 = r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\CSV\precios_semana_20200518.csv'
df3.to_csv(carga3, index = False, encoding = 'latin1')

In [26]:
carga4 = r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\CSV\precios_semanas_20200419_20200426.csv'
df4.to_csv(carga4, index=False, encoding = 'latin1' )

In [42]:
df4['precio'].dtype

dtype('float64')

## Archivo parquet

In [44]:
producto = pd.read_parquet(r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\Datasets relevamiento precios\producto.parquet')
producto['categoria1'].fillna(0, inplace = True)
producto['categoria2'].fillna(0, inplace = True)
producto['categoria3'].fillna(0, inplace = True)
producto['marca'].fillna(0, inplace = True)
producto['nombre'].fillna(0, inplace = True)
producto['presentacion'].fillna(0, inplace = True)


producto.isna().sum()
#producto['presentacion'].dtype

id              0
marca           0
nombre          0
presentacion    0
categoria1      0
categoria2      0
categoria3      0
dtype: int64

In [46]:
producto['nombre'].dtype

dtype('O')

In [45]:
carga = r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\CSV\producto.csv'
producto.to_csv(carga, index = False, encoding = 'utf-8')

## *Sucursal*

In [38]:
sucursal = pd.read_csv(r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\Datasets relevamiento precios\sucursal.csv')

sucursal['comercioId'].dtype
carga = r'C:\Users\USUARIO\Desktop\Trabajos independientes\Proyecto Individual\CSV\sucursal.csv'
sucursal.to_csv(carga, index = False, encoding = 'utf-8')

In [75]:
sucursal['id'].dtype

dtype('O')

## *Automatización*

In [68]:
cadena_conexion = 'mysql+pymysql://root:123456789@localhost:3306/proyecto_individual_1'
conexion = create_engine(cadena_conexion)

In [73]:
sucursal.to_sql(name ='sucursal', con = conexion, index = False)

2333

In [72]:
producto.to_sql(name = 'producto', con = conexion, index = False)

72038

In [ ]:
def archivos(archivo):
    if archivo ==